@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

      /*customizing css*/
      html, body{
        height:100%;
      }
      /*폰트*/
      body{
        font-family: 'NanumSquare';
        font-weight: 600;
        font-size: 17px !important;
        margin: 0;
        padding: 0;
      }
      :root {
        --shadow-sm:  0 0.3px 0.4px rgba(0, 0, 0, 0.025),
        0 0.9px 1.5px rgba(0, 0, 0, 0.05),
        0 3.5px 6px rgba(0, 0, 0, 0.1);
      }

      /****************************************** nav ******************************************/
      .shadowsm{
        box-shadow: var(--shadow-sm);
      }
      .brightness {filter: contrast(120%) saturate(4) grayscale(100%) brightness(4.00);}
      nav, .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active,  .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link, .navbar-nav .nav-link{
        color: ghostwhite;
      }
      .navbar-brand img{
        height: 60px;
      }
      a.nav-link {
        width: 100%;
        height: 100%;
      }
      li{
        list-style: none;
      }
      .navbar-toggler{
        background-color: transparent;
        border-color: #9E9E9E;
      }
      .navbar-toggler-icon{
        color: ghostwhite;
        width: 1em;
        height: 1em;
      }
      /****************************************** svg ******************************************/

      .land
      {
        fill: #CCCCCC;
        fill-opacity: 1;
        stroke:white;
        stroke-opacity: 1;
        stroke-width:1;
      }
      .land:hover{
        fill: #f6aea4;
      }

      svg{
        width:100%;
        height: 650px;
        overflow:hidden

      }
      svg g{
        transform: scale(0.9);
      }

      .color1 {background-color: #f6aea4; !important}
      .color2 {background-color: #f1cd7e; !important}
      .color3 {background-color: #FFFFFF; !important}
      .color4 {background-color: #23418B; !important}
      .color5 {background-color: #5FB6BF; !important}


      /*************************************** introduce ***************************************/

      .introduce>img{
        display : block;
        margin : 10px auto;
        text-align: center;
        width: 100%;
      }
      .introduce p{
        margin: 100px auto;
        text-align: center;
        color: #fff;
      }
      /***************************************** chart *****************************************/

      .chart img:nth-child(1){
        display : inline-block;
        margin : 10px auto;
        text-align: center;
        width: 100%;
      }
      .chart img:nth-child(2){
        display : inline-block;
        margin : 10px auto;
        text-align: center;
        width: 90%;
      }
      .chart p{
        margin: 100px auto;
        color: #fff;
      }
      .padding-100{
        padding-top: 100px
      }

      /***************************************** footer *****************************************/
      footer{
        position: relative;
        height:220px;
        transform:translateY(-100%)
      }

      td a{
        color: #fff
        !important
      }

      .padding-area{
        padding-top: 700px
      }

      .table, table{
        color: #fff;
        !important
      }

      .dropdown-menu, body, .badge{
        font-size: 17px !important;
        word-break: keep-all !important;
      }

      .wrapper{
        height:auto;
        min-height:100%;
        padding-bottom:220px
      }

      a.dropdown-item{
          color: black !important;
       }

      ul li a{
        color: #fff
        !important
      }

