{% load static %}
<div class="row text-center" id="fogGraph">
  <div class="col-md-12 col-xs-12">
    <h5 class="text-center c-white">안개 다발 지역</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">위치</th>
          <th scope="col">위도</th>
          <th scope="col">경도</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">예산IC~신양IC(12.5km)</th>
          <td>36.64728</td>
          <td>126.82632</td>
        </tr>
        <tr>
          <th scope="row">고덕IC~예산IC(12km)</th>
          <td>36.72118</td>
          <td>126.74749</td>
        </tr>
        <tr>
          <th scope="row">증평IC~진천IC(12km)</th>
          <td>36.81872</td>
          <td>127.49124</td>
        </tr>
        <tr>
          <th scope="row">신양IC~유구IC(10km)</th>
          <td>36.58632</td>
          <td>126.92581</td>
        </tr>
        <tr>
          <th scope="row">유구IC~마곡사IC(10km)</th>
          <td>36.52067</td>
          <td>126.99843</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row text-center" id="frozenGraph">
  <div class="col-md-6 col-xs-12">
    <h5 class="text-center c-white">결빙 다발 지역</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">위치</th>
          <th scope="col">위도</th>
          <th scope="col">경도</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">서해대교(7.3km)</th>
          <td>36.942364</td>
          <td>126.790753</td>
        </tr>
        <tr>
          <th scope="row">죽령고개(5.5km)</th>
          <td>36.918588</td>
          <td>128.372556</td>
        </tr>
        <tr>
          <th scope="row">제천주차장(5.22km)</th>
          <td>37.083545</td>
          <td>128.170179</td>
        </tr>
        <tr>
          <th scope="row">피반령(5km)</th>
          <td>36.508474</td>
          <td>127.599573</td>
        </tr>
        <tr>
          <th scope="row">엽돈고개(4.7km)</th>
          <td>36.914709</td>
          <td>127.261133</td>
        </tr>
        <tr>
          <th scope="row">비끼재(4.7km)</th>
          <td>37.18869</td>
          <td>128.129772</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-xs-12">
    <h5 class="text-center c-white">결빙(356개)지역 중 <span class="c-red">상위 5</span></h5>
    <img src="{% static 'data/graph/ChungcheongFrost.png' %}" class="img-fluid">
  </div>
</div>