{% extends 'areaBase.html' %}
{% load static %}
{% block map %}
<div class="container-fluid mapparents">
          <div class="col-12 mx-auto map" id="constructionMap">
              <iframe src="{% static 'data/2019~2021 경상도공사_heatmap.html' %}" frameborder="0" height=500></iframe>
          </div>
          <div class="col-12 mx-auto map" id="fogMap">
              <iframe src="{% static 'data/Gyeongsang_fog.html' %}" frameborder="0" height=500></iframe>
          </div>
          <div class="col-12 mx-auto map" id="frozenMap">
              <iframe src="{% static 'data/Gyeongsang_frost.html' %}" frameborder="0" height=500></iframe>
          </div>
          <div class="col-12 mx-auto map" id="accidentMap">
              <iframe src="{% static 'data/2019~2021 경상도사고_heatmap.html' %}" frameborder="0" height=500></iframe>
          </div>
      </div>
{% endblock %}
{% block area %}
<div class="container-fluid c-back-grey graph pb-5 min-h padding-area">
        <div class="row pt-5">
            <div class="col py-5">
                <h3 class="font-weight-bold text-white">경상도 지역의 정보</h3>
            </div>
        </div>
        <div class="row" id="accidentGraph">
            <div class="col-md-6 col-xs-12">
                <h5 class="text-white">2019~2021년 사고 다발 지역 <span class="text-danger">상위 10</span></h5>
                <img src="{% static 'data/graph/GyeongsangAcc01.png' %}" class="img-fluid">
            </div>
            <div class="col-md-6 col-xs-12 py-5">
              <h5 class="text-white">2019~2021년 사고 다발 지역 <span class="text-danger">하위 10</span></h5>
              <img src="{% static 'data/graph/GyeongsangAcc02.png' %}" class="img-fluid">
            </div>
        </div>
        <div class="row" id="constructionGraph">
            <div class="col-md-6 col-xs-12">
                <h5 class="text-white">2019~2021년 공사 다발 지역 <span class="text-danger">상위 10</span></h5>
                <img src="{% static 'data/graph/GyeongsangCon01.png' %}" class="img-fluid">
            </div>
            <div class="col-md-6 col-xs-12 py-5">
                <h5 class="text-white">2019~2021년 공사 다발 지역 <span class="text-danger">하위 10</span></h5>
                <img src="{% static 'data/graph/GyeongsangCon02.png' %}" class="img-fluid">
            </div>
        </div>
    {% include "traffico/area/Gyeongsang_table.html" %}
</div>
{% endblock %}