{% load static %}
<div class="row text-center" id="fogGraph">
  <div class="col-md-12 col-xs-12">
    <h5 class="text-center c-white">안개 다발 지역</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">위치</th>
          <th scope="col">위도</th>
          <th scope="col">경도</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">석곡IC~곡성IC(12km)</th>
          <td>35.18136</td>
          <td>127.24177</td>
        </tr>
        <tr>
          <th scope="row">황전IC~구례화엄사IC(12km)</th>
          <td>35.19382</td>
          <td>127.45312</td>
        </tr>
        <tr>
          <th scope="row">주암IC~석곡IC(7km)</th>
          <td>35.0976</td>
          <td>127.25676</td>
        </tr>
        <tr>
          <th scope="row">무주IC~잠두교(4km)</th>
          <td>35.98832</td>
          <td>127.63196</td>
        </tr>
        <tr>
          <th scope="row">섬진강교(0.5km)</th>
          <td>35.369272</td>
          <td>127.198504</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row text-center" id="frozenGraph">
  <div class="col-md-6 col-xs-12">
    <h5 class="text-center c-white">결빙 다발 지역</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">위치</th>
          <th scope="col">위도</th>
          <th scope="col">경도</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">비행기재(10km)</th>
          <td>35.590546</td>
          <td>127.433887</td>
        </tr>
        <tr>
          <th scope="row">보룡고개(6.2km)</th>
          <td>35.843362</td>
          <td>127.283013</td>
        </tr>
        <tr>
          <th scope="row">배티고개(5.5km)</th>
          <td>36.109431</td>
          <td>127.336844</td>
        </tr>
        <tr>
          <th scope="row">여원재(5km)</th>
          <td>35.451916</td>
          <td>127.469534</td>
        </tr>
        <tr>
          <th scope="row">구절재(5km)</th>
          <td>35.463692</td>
          <td>127.04992</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-xs-12">
    <h5 class="text-center c-white">결빙(356개)지역 중 <span class="c-red">상위 5</span></h5>
    <img src="{% static 'data/graph/JeollaFrost.png' %}" class="img-fluid">
  </div>
</div>