{% extends 'base.html' %}
{% block content %}
<div class="container mb-3 padding-100 text-white min-h">
    <div class="row">
        <ul class="col-md-6">
        <li>Traffico sitemap</li>
        <li><a class="text-white" href="{% url 'traffico:index' %}">index</a></li>
        <li><a class="text-white" href="{% url 'traffico:introduce' %}">introduce</a></li>
        <li>지역별 데이터</li>
        <ul>
            <li><a class="text-white" href="{% url 'traffico:seoul' %}">서울</a></li>
            <li><a class="text-white" href="{% url 'traffico:gyeonggi' %}">경기</a></li>
            <li><a class="text-white" href="{% url 'traffico:gangwon' %}">강원</a></li>
            <li><a class="text-white" href="{% url 'traffico:gyeongsang' %}">충청</a></li>
            <li><a class="text-white" href="{% url 'traffico:chungcheong' %}">경상</a></li>
            <li><a class="text-white" href="{% url 'traffico:jeolla' %}">전라</a></li>
        </ul>
        <li><a class="text-white" href="{% url 'traffico:board' %}">문의 게시판</a></li>
    </ul>
    <ul class="col-md-6">
        <li>관련 사이트</li>
        <li>유한울</li>
        <ul>
            <li><a class="text-white" href="http://razerwool.dothome.co.kr">개인 포트폴리오</a></li>
        </ul>
        <li>허재은</li>
        <ul>
            <li><a class="text-white" href="http://gooroomcoding.dothome.co.kr/index.html">개인 포트폴리오</a></li>
        </ul>
        <li>한재희</li>
        <ul>
            <li><a class="text-white" href="http://sgc.dothome.co.kr">개인 포트폴리오</a></li>
        </ul>
    </ul>
    </div>
</div>
{% endblock %}